################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/v15/Server/sqlite3/storage.ide-wal
/.vs/Calculator/v15/Server/sqlite3/storage.ide-shm
/.vs/Calculator/v15/Server/sqlite3/storage.ide
/.vs/Calculator/v15/Server/sqlite3/db.lock
/.vs/Calculator/v15/Server/sqlite3
/.vs/Calculator/v15/.suo
/.vs/Calculator/v15
/.exe
/.obj
